<footer>

    {{ set projectPage = search.page("id=project lang=" + lang) }}
    <ul>
        <li>
            <a href="{{ projectPage.url }}">{{ nav[lang].menu_project }}</a>
        </li>
    </ul>
    <p>&copy; {{ new Date().getFullYear() }} Reticulas.com</p>
</footer>