<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="ly-default">
    <header>
        <h1 class="title logo">reticulas.com</h1>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>

    </footer>

</body>
</html>