---
lang: gl
id: home
url: /gl/
layout: layouts/default.vto
title:  Retículas
keywords: grellas, grid system, deseño gráfico, deseño editorial, deseño web, deseño dixital, composición visual, maquetación, tipografía, deseño suizo
description: "Plataforma de divulgación sobre retículas en deseño gráfico e web: fundamentos, exemplos históricos e aplicacións en deseño dixital."
---

<h1>Retículas</h1>
<p>Historia, evolución e aplicación das retículas en deseño gráfico e dixital</p>