---
lang: gl
id: project
url: /gl/proxecto/
layout: layouts/default.vto
title: Proxecto - Retículas
keywords: proxecto, grellas, grid system, deseño gráfico, caso de estudo, exemplo práctico
description: "Proxecto práctico sobre o uso de retículas en deseño gráfico e web."
---

<h1>Proxecto</h1>